<div align="center">
<h1>Course Details</h1>
<h3>Select Course</h3>

<p> {{message}} </p>
<style>

* {
    box-sizing: border-box;
}
.header {
    border: 1px solid red;
    padding: 10px;
}
.row:after {
    content: "";
    clear: both;
    display: block;
}
.col-1 {
float:center;
    position:relative;
    left: -37px;
}
.col-1 {}

</style>

<form method="post" action="/courses/details_helper">
  Major:
    <select name="dept">
    <option value={{depart}}> {{depart}} </option>
      {{#each depts}}
      <option value={{this.dept}}> {{this.dept}} </option>
      {{/each}}
    </select>
    <input type="hidden" name="username" value={{user}} />
    <button name="selection" value="dept"> Choose </button>
</form>
{{#if depart}}
<div class="col-1">
<form method="post" action="/courses/details">

    Course:
    <select name="course">
    <option value={{cour}}> {{cour}} </option>
      {{#each courses}}
      <option value={{this.num}}> {{this.num}} </option>
      {{/each}}
    </select>
    </br>
    <input type="hidden" name="dept" value={{depart}} />
    <input type="hidden" name="username" value={{user}} />
    <input type="submit" value="Submit" />
</form>
</div>
{{#if cour}}

<div>
<br>
  <label> <b> Instructor: {{instr}} </b> </label>
  <br>
  <p align="justify"><b>Description:</b> {{descr}}  </p>
  <br>
  <table>
    <tr>
      <th> Pre-Requisites </th>
      <th> Completed </th>
    </tr>
    {{#each prereqs}}
    <tr>
      <td> {{this.dept}} {{this.num}} </td>
      <td> {{lookup ../prereqsTaken @index}} </td>
    </tr>
    {{/each}}  
  </table>
</div>
{{/if}}
{{/if}}

</div>