<h1>Course Details</h1>
<h3>Select Course</h3>
<form method="post" action="/courses/details">
  
  Major:
    <select name="dept" id>
      {{#each depts}}
      <option value={{dept}}> {{dept}} </option>
      {{/each}}
    </select>
    Course:
    <select name="course">
      {{#each courses}}
      <option value={{this.num}}> {{this.num}} </option>
      {{/each}}
    </select>
    Semester:
    <select name="sem">
      <option value="Fall">Fall</option>
      <option value="Spring">Spring</option>
    </select>
    </br>
    <input type="hidden" name="username" value={{user}} />
    <input type="submit" value="Submit" />
</form>

<form method="post" action="/admin/user">
</br>
    Required Class:
    <select name="Required Class?">
      <option value="Yes">Yes</option>
      <option value="No">No</option>
    </select>
  </br>
</form>

<div>
  <label> Instructor: {{instr}} </label>
  <textarea>Description: {{descr}}  </textarea>
  <table>
    <tr>
      <th> Pre-Requisites </th>
      <th> Completed </th>
    </tr>
    {{#each prereqs}}
    <tr>
      <td> {{this.dept}} {{this.num}} </td>
      <td> {{lookup ../prereqsTaken @index}} </td>
    </tr>
    {{/each}}  
  </table>
</div

<img src="/img/explore_courses_view.png" />

