<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>

* {
    box-sizing: border-box;
}
.header {
    border: 1px solid red;
    padding: 10px;
}
.row:after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 15px;
    border: 0px solid blue;
}
.col-1 {width: 100%;}
.col-2 {width: 50.00%;}
.col-3 {width: 50.00%;}

table {
    border-collapse: collapse;
}

table, td, th {
    border: 0px solid black;
}

</style>

<div id = "container" style = "width:100%">


<div class="col-1"> {{message}} </div>
<br>

<div class="col-2">
<h1>Add Course</h1>
<form method="post" action="/courses/select">
  <label>Department:</label>
  <select name="dept">
    <option value={{dept}}>{{dept}}</option>
    {{#each depts}}
      <option value={{this.dept}}>{{this.dept}}</option>
    {{/each}}
  </select>
  <button name="selection"> Choose </button>
  <br>
  </form>
{{#if courses}}
<form method="post" action="/courses/add">
  <label>Number:</label>
    <select name="num">
    <option value=""></option>
    {{#each courses}}
      <option value={{this.num}}>{{this.num}}</option>
    {{/each}}

  </select>
    <input type="hidden" name="dept" value={{dept}} />
    <input type="submit" value="Add Course" />
</form>
{{/if}}

<h1>Delete Course</h1>
<form method="post" action="/courses/select">
  <label>Department:</label>
  <select name="dept">
    <option value={{dept}}>{{dept}}</option>
    {{#each depts}}
      <option value={{this.dept}}>{{this.dept}}</option>
    {{/each}}
  </select>
  <button name="selection"> Choose </button>
  <br>
  </form>
{{#if courses}}
<form method="post" action="/courses/delete">
  <label>Number:</label>
    <select name="num">
    <option value=""></option>
    {{#each courses}}
      <option value={{this.num}}>{{this.num}}</option>
    {{/each}}

  </select>
    <input type="hidden" name="dept" value={{dept}} />
    <input type="submit" value="Delete Course" />
</form>
{{/if}}

</div>

<div class="col-3">

<h2>Your Courses</h2>
    <table>
    <tr>
      <td>
        Department:
      </td>
      <td>
        Number:
      </td>
      <td>
        Credits
      </td>
    </tr>
    {{#each user_courses}}
      <tr>
        <td>
          {{this.dept}}
        </td>
        <td>
          {{this.num}}
        </td>
        <td>
        {{this.credits}}
        </td>
      </tr>
      {{/each}}
    </table>
  </div>
<div class="col-1"> </div>

</div>

</html>