<h1>Course Details</h1>
<h3>Select Course</h3>

<p> {{message}} </p>


<form method="post" action="/courses/details_helper">
  Major:
    <select name="dept">
    <option value={{depart}}> {{depart}} </option>
      {{#each depts}}
      <option value={{this.dept}}> {{this.dept}} </option>
      {{/each}}
    </select>
    <input type="hidden" name="username" value={{user}} />
    <button name="selection" value="dept"> Choose </button>
</form>
{{#if depart}}
<form method="post" action="/courses/details">

    Course:
    <select name="course">
    <option value={{cour}}> {{cour}} </option>
      {{#each courses}}
      <option value={{this.num}}> {{this.num}} </option>
      {{/each}}
    </select>
    </br>
    <input type="hidden" name="dept" value={{depart}} />
    <input type="hidden" name="username" value={{user}} />
    <input type="submit" value="Submit" />
</form>

{{#if cour}}

<div>
  <label> <b> Instructor: {{instr}} </b> </label>
  <br>
  <p><b>Description:</b> {{descr}}  </p>
  <br>
  <table>
    <tr>
      <th> Pre-Requisites </th>
      <th> Completed </th>
    </tr>
    {{#each prereqs}}
    <tr>
      <td> {{this.dept}} {{this.num}} </td>
      <td> {{lookup ../prereqsTaken @index}} </td>
    </tr>
    {{/each}}  
  </table>
</div>
{{/if}}
{{/if}}

