<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>

* {
    box-sizing: border-box;
}
.header {
    border: 1px solid red;
    padding: 15px;
}
.row:after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 15px;
    border: 0px solid blue;
}
.col-1 {width: 100%;}
.col-2 {width: 33.34%}
.col-3 {width: 33.33%;}
.col-4 {width: 33.33%;}
.col-5 {width: 100%;}

table {
    border-collapse: collapse;
}

table, td, th {
    border: 0px solid black;
}

</style>

<div class="col-1">
<h1> Get InSPIREd </h1>
</div>

<div class="col-2">
	<div> Find closest concentration for a major: </div>
	<form method="post" action="/major/inspire/concentration">
  		<label>Major:</label>
  		<select name="major" id="inspire_for_major">
    	<option value=""></option>
    	{{#each majors}}
      		<option value={{this.major}}>{{this.major}}</option>
    	{{/each}}
  		</select>
      <br>
  		<button> Choose </button>
  </form>
  <br>
  <div id="concentration" style="display:none">
    <div> Selected Major : {{major}} </div>
    <div> Closest Concentration : {{concentration}} </div>
    <div> Completed Requirements : {{num_completed}} </div>
    <div> Remaining Requirements : {{num_remaining}} </div>
    <form method="post" action="/major/inspire/concentration/reqs">
      <select name="major" id="hidden_major" style="display:none">
      <option value=""></option>
      {{#each majors}}
        <option value={{this.major}}>{{this.major}}</option>
      {{/each}}
      </select>
      <select name="concentration" id="hidden_concentration" style="display:none">    
        <option value=""></option>
        {{#each concentrations}}
          <option value={{this.concentration}}>{{this.concentration}}</option>
        {{/each}}
      </select>
      <button value="reqs"> Show Requirements </button>
    </form>
  </div>
</div>

<div class="col-3">
	<div> Find closest major: </div>
	<form method="post" action="/major/inspire/major">
		<button> Find </button>
  </form>
  <br>
  <div id="major" style="display:none">
    <div> Closest Major : {{major}} </div>
    <div> Closest Concentration : {{concentration}} </div>
    <div> Completed Requirements : {{num_completed}} </div>
    <div> Remaining Requirements : {{num_remaining}} </div>
    <form method="post" action="/major/inspire/major/reqs">
      <select name="major" id="hidden_major2" style="display:none">
      <option value=""></option>
      {{#each majors}}
        <option value={{this.major}}>{{this.major}}</option>
      {{/each}}
      </select>
      <select name="concentration" id="hidden_concentration2" style="display:none">    
        <option value=""></option>
        {{#each concentrations}}
          <option value={{this.concentration}}>{{this.concentration}}</option>
        {{/each}}
      </select>
      <button value="reqs"> Show Requirements </button>
    </form>
  </div>
</div>
<div class="col-4">
	<div> Find majors involving this course: </div>
  <form method="post" action="/major/inspire/course">
    <label>Dept:</label>
    <select name="dept" id="dept">
    <option value=""></option>
    {{#each depts}}
        <option value={{this.dept}}>{{this.dept}}</option>
    {{/each}}
    </select>
    <br>
    <label>Num:</label>
    <input type="text" name="num"></input>
    <br>
    <button value="major"> Choose </button>
  </form>
  <br>
  <div id="course" style="display:none">
    <table>
      <tr>
        <td>
          Major
        </td>
        <td>
          Concentration
        </td>
        {{#each course_majors}}
          <tr>
            <td>
              {{this.major}}
            </td>
            <td>
              {{this.concentration}}
            </td>
          </tr>
        {{/each}}
      </table>
  </div>
</div>

<div class="col-5">
	<br><br><br><br><br>
</div>

<script type="text/javascript">
  function getParamValuesByName (queryString) {
    var qstring = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
    for(var i = 0; i < qstring.length; i++){
      var urlparam = qstring[i].split('=');
      if(urlparam[0] == queryString) {
        return urlparam[1];
      }
    }
  }
  var major = getParamValuesByName('major');
  var concentration = getParamValuesByName('concentration');
  var form = getParamValuesByName('form');
  document.getElementById('inspire_for_major').value=major;
  document.getElementById('hidden_major').value=major;
  document.getElementById('hidden_concentration').value=concentration;
  document.getElementById('hidden_major2').value=major;
  document.getElementById('hidden_concentration2').value=concentration;
  // document.getElementById(form).style="display:block";
  document.getElementById(form).style.display="block";
</script>

</html>