<h1>Major</h1>

<form method="post" action="/major/select">
  <label>Major:</label>
  <select name="major" id="major">
    <option value=""></option>
    {{#each majors}}
      <option value={{this.major}}>{{this.major}}</option>
    {{/each}}
  </select>
  <button name="selection" value="major"> Choose </button>
  <br>

  <label>Concentration:</label>
  <select name="concentration" id="concentration">    
    <option value=""></option>
    {{#each concentrations}}
      <option value={{this.concentration}}>{{this.concentration}}</option>
    {{/each}}
  </select>
  <button name="selection" value="concentration"> Choose </button>
</form>
<br>

<script type="text/javascript">
  function getParamValuesByName (queryString) {
    var qstring = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
    for(var i = 0; i < qstring.length; i++){
      var urlparam = qstring[i].split('=');
      if(urlparam[0] == queryString) {
        return urlparam[1];
      }
    }
  }
  var major = getParamValuesByName('major');
  var concentration = getParamValuesByName('concentration');
  document.getElementById('major').value=major;
  document.getElementById('concentration').value=concentration;
</script>

<div> Selected Major : {{major}} </div>
<div> Selected Concentration : {{concentration}} </div>
<br>
<table>
  <tr>
    <td>
      Requirement #:
    </td>
    <td>
      Course:
    </td>
    <td>
      Satisfied:
    </td>
  </tr>
  {{#each courses}}
    <tr>
      <td>
        {{req_num}}
      </td>
      <td>
        {{req_desc}}
      </td>
      <td>
        No
      </td>
    </tr>
  {{/each}}
</table>