<!DOCTYPE html>
<html>
<style>
#buser_img {
    opacity: 0.4;
    filter: alpha(opacity=40); 
}

#buser_img {
    opacity: 0.4;
    filter: alpha(opacity=40); 
}

#buser_img:hover{
    opacity: 1.0;
    filter: alpha(opacity=40); 
}

#user_img:hover {
    opacity: 0.5;
    filter: alpha(opacity=400);
}

.morph {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.morph:hover {
  border-radius: 50%;
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
       -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.brighten img {
  -webkit-filter: brightness(-5%);
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.brighten img:hover {
  -webkit-filter: brightness(100%);
}


</style>
<head>	
		<a href="/team?user=tcontois">
		<img id="buser_img" src="/img/tim.png" alt="Logo" style="float:left;width:110px;height:110px;"> 
		</a>
		<a href="/team?user=alassall">
		<img id="buser_img" src="/img/alex.png" alt="Logo" style="float:left;width:110px;height:110px;"> 
		</a>
		<a href="/team?user=agramign">
		<img id="buser_img" src="/img/andrew.png" alt="Logo" style="float:left;width:110px;height:110px;">
		</a>
		<a href="/team?user=jpikovsk"> 
		<img id="buser_img" src="/img/josh.png" alt="Logo" style="float:left;width:110px;height:110px;"> 
		</a>
		<a href="/team?user=rbcondon">
		<img id="buser_img" src="/img/riley.png" alt="Logo" style="float:left;width:110px;height:110px;"> 
		</a>
		<a href="/team?user=nmurali">
		<img id="buser_img" src="/img/niketh.png" alt="Logo" style="float:left;width:110px;height:110px;"> 
		</a>

<br>
<br>
<br>
<br>
<br>
<br>

</head>
<h1>Team Portfolio</h1>
<h2>Team Members</h2>
<h2>Total: ({{members.length}})</h2>
<ul>
  {{#each members}}
  <li><strong><a href="/team?user={{this.user}}">{{this.fname}} {{this.lname}}</a></strong> - {{this.year}}</li>
  {{/each}}
</ul>
</html>